@tailwind base;
@tailwind components;
@tailwind utilities;

.centerDiv {
    margin: auto;
    width: 50%;
}

.center{
    margin: auto;
}

.SFbutton {
    background-color: #795caf;
    border-radius: 8px;
    text-align: center;
    color: #E5E4E2;
    padding: 6px 12px;
    font-size: 24px;
    }
   
   
   button:hover {
    background-color: #f87e07;
    color: black;
    }
   
   
   button:active {
    background-color: #f87e07;
    color: black;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
   }
   
.min-w-64{
    min-width:60%
}